/* .container {
    display: flex;
    flex-wrap: wrap;
} */

.button {
    margin-bottom: 7px;
}

.finalResult {
    background-color: lightcoral;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 90px;
    margin-bottom: 13px;
}

#mapid 
{
    height: 400px;
    width: 400px;
    /* margin-left: 500px; */
    margin-right: 400px;
}

.idk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}