.container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    margin-bottom: 7px;
}

.finalResult {
    border-color: blue;
}

#mapid 
{
    height: 400px;
    width: 400px;
    margin-left: 500px;
    position: fixed;
}